.h{ font-size: xx-large; font-family: "Arial", sans-serif; text-transform: uppercase; letter-spacing: 5px;}
.h2{ font-size: medium; font-family: "Arial", sans-serif; text-transform: uppercase; letter-spacing: 5px;}
body{ overflow: hidden; height: 100%; width: 100%; position: absolute; display: flex; align-items: center; justify-content: center;
    background-image: url("packages/images/init.png");
    background-size: 2000px; font-family: sans-serif;}
svg{ margin: 5px; right: 0; position: absolute;}