#universal{ height: 80%; width: 90%; backdrop-filter: blur(10px);}
#list{ height: 98%; width: 8.5%;}
#console{ width: 73%; height: 66%; left: 9.5%; top: 0; white-space: nowrap;}
#multiverse{ width: 73%; height: 30%; left: 9.5%; bottom: 0; display: flex; flex-wrap: wrap;}
#folder{ height: 98%; width: 15.5%; right: 0;}

.window{ border: 1px dotted red; display: flex; color: red; position: absolute;}
.subwindow{ background-image: url("init.png"); background-size: 2000px; opacity: 50%; overflow-x: hidden; margin: 0.5%; position: absolute;}
.verse{ height: 105px; width: 100px; margin: 5px; border: 1px dotted red;}

#clock{ position: absolute; letter-spacing: 3px; margin: 10px; bottom: 0; right: 0; opacity: 50%;}