.window{ position: absolute; border: 1px groove red; overflow: hidden; resize: both; backdrop-filter: blur(10px); font-size: small; transition-duration: 1s;}
.subwindow{ position: absolute; margin: 5px; background-image: url("init.webp"); background-size: cover; opacity: 80%; overflow-y: visible; overflow-x: hidden;}
.verse{ height: 15px; width: 125px; margin: 5px; border: 1px dotted red; display: flex; cursor: pointer; overflow: hidden; border-style: groove; flex-direction: column; flex-wrap: wrap; align-content: stretch; justify-content: center; align-items: center; white-space: nowrap; opacity: 80%;}
.database{ width: -webkit-fill-available; padding-left: 5px; padding-right: 5px ; white-space: nowrap; cursor: pointer; display: flex; opacity: 80%;}
.folders{ letter-spacing: 0.8px; list-style-type: decimal}
.button{ height: 10px; width: 10px; margin: 5px; background-color: red; opacity: 60%; z-index: 2; cursor: pointer}

#webpage{ place-self: center;display: inline}
#drive{ left: 0; height: -webkit-fill-available; width: 10%;}
#explorer{ right:0; height: -webkit-fill-available; width: 15%;}
#console{ transition-duration: 0.5s; height: 82.5%; width: -webkit-fill-available; top: 0; margin-left: 11%; margin-right: 16%; margin-bottom: unset}
#controlBar{ height: 15%; width: -webkit-fill-available; bottom: 0; margin-left: 11%; margin-right: 16%; display: flex; flex-wrap: wrap; align-content: flex-start}
#inspector{ position: absolute; height: -webkit-fill-available; right: 0}

#toolkit{ height: 100%; width: 20px; position: absolute; right: 0; top: 0}
#ccc{ cursor: alias;}
#c{ cursor: ne-resize;}
#cc{ cursor: ne-resize;}

#clock{ position: absolute; left: 0;}
#analog{ position: absolute; right: 0; width: 84px;}