#universal{ height: 80%; width: 90%; backdrop-filter: blur(10px);}
#list{ height: 98%; width: 8.5%;}
#console{ width: 73%; height: 66%; left: 9.5%; top: 0; overflow-y: scroll;}
#multiverse{ width: 73%; height: 30%; left: 9.5%; bottom: 0; display: flex; flex-wrap: wrap; opacity: 60% !important}
#folder{ height: 98%; width: 15.5%; right: 0;}

.window{ border: 1px dotted red; display: flex; color: red; font-size: 80%; position: absolute;}
.subwindow{ background-image: url("init.png"); background-size: 2000px; opacity: 60%; margin: 0.5%; position: absolute; overflow: hidden;}
.verse{ height: 15px; width: 125px; margin: 5px; border: 1px dotted red; display: flex; justify-content: center; align-items: center; cursor: pointer; overflow: hidden; font-size: 1vh}
.button{ height: 10px; width: 10px; margin: 5px; background-color: red; position: absolute; opacity: 60%; z-index: 2;}

#initialize{ top: 0; right: 0; cursor: alias;}

#clock{ position: absolute; letter-spacing: 3px; margin: 10px; bottom: 0; right: 0; opacity: 50%;}
::-webkit-scrollbar { width: 6PX;}
::-webkit-scrollbar-track { background: transparent;}
::-webkit-scrollbar-thumb { background: #30003d;}
::-webkit-scrollbar-thumb:hover { background: transparent;}