body{ height: 100vh; width: 100vw; background-image: url("init.png"); background-size: cover; display: flex; align-items: center; justify-content: center; margin: 0; font-family: sans-serif; background-color: #30003d}
iframe{ height: 100%; width: 100%; border: unset;}
span{ font-family: 'Roboto', sans-serif;}
audio{ height: 15px; width: 282px;}